.dropdown_header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown_header img {
  width: 1.5rem;
  height: 1.5rem;
}

.dropdown_header h2 {
  margin-right: auto;
  margin-left: .6rem;
}

.education-list, .experience-list {
  text-align: center;
}

.capsule-name {
  cursor: pointer;
  padding: 1rem;
  border-radius: .5rem;
}

.capsule-name:hover {
  background-color: #303030;
}

.capsule-name:first-child {
  margin-top: 1rem;
}

.add-btn {
  background-color: #303030;
  font-size: 1rem;
  margin-top: 1rem;
}