.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.content {
  border-radius: 8px;
  background-color: #1a1a1a;
  cursor: pointer;
  padding: 0.6em 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  justify-content: center;
}


.cv {
  background-color: #303030;
  min-height: 600px;
  width: 100%;
  flex-grow: 1;
}
