* {
  box-sizing: border-box;
}

.app {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding: 1.5rem;
}

.content {
  width: 100%;
  border-radius: 8px;
  background-color: #1a1a1a;
  cursor: pointer;
  padding: 0.6em 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  justify-content: center;
}

.content div {
  flex-grow: 1;
  text-align: center;
}

.cv {
  background-color: #303030;
  min-height: 900px;
  height: 100%;
  padding: 3em 2.5em;
  flex: 1;
  max-width: 700px;
  min-width: 520px;
  margin: 0 1.5em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

/* template.css */

.template {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

h1 {
  font-size: 2.5em;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  justify-content: center;
}

.detail {
  display: flex;
  align-items: center;
}

.detail p {
  margin-left: 0.2em;
  color: #8585ff;
}

hr {
  width: 100%;
  margin: 1.5em 0;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.subbody h4 {
  font-size: 1.4em;
  text-align: center;
  background-color: #808080;
}

.cat {
  display: flex;
  gap: 2.5em;
}

.right_side p:first-child {
  font-weight: bold;
}